* { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
 
* * * * * * { background-color: rgba(255,255,0,.2); }


*{
	box-sizing: border-box;
/*	this will always be needed so you don't have to calculate exact widths of boxes for them to fit the container. this does it auto*/
}

body {
	/*font: 100%/1.5 sans-serif;*/
	font-family: 'Open Sans', sans-serif;
}

#wrapper {
	max-width: 1020px; /*my whole page width is 1020px*/
	margin: 0 auto; /*not sure this should be here as i dont want my page centred??*/
}

.canvas {
	width: 980px;
	padding-left: 20px;
	padding-right: 20px;
	/*	width of whole canvas is 980px 20px padding either side*/
}

#header {
	
}

#side-panel {
	
	float: left;
	width: 150px;
	padding-right: 30px; /*should this be margin right*/
	margin-top: 0px;
	border: 1px solid black;
}

#side-panel h1 {
	margin-top: 60px;
	margin-left: 10px;
}

#side-panel .logo {
  
}

/*not sure what to target to position the logo? h1 or div id logo?*/

.page-divider {
	border: 0.5px solid;
	color: #8f8a8a;
	margin-left: 10px;
	max-width: 100px;
}

.main-nav {
	margin-left: 10px;
	float: left;
	overflow: hidden;
}

nav li {
	float: left;
}

#side-panel nav a {
	font-size: 12px;
	text-decoration: none;
	display: block;
	padding: 20px 15px;
	color: #8f8a8a;
}

#side-panel nav li a:hover {
	color: yellow;
}

#side-panel nav li.active a {
	background: #666;

}

#social-links ul li {
  display: inline-block;
  list-style: none;
  margin: 0 26px 75px;
  float: center;
  margin-top: 17px;
}

/*main section*/

.content {
	width: 640px;
	float: left;
	margin-top: 60px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	overflow: visible;
}

#project-thumbs {

}
/*not sure what to put in this*/

div .grid 1 {
	border: 1px solid black;
	color: #8f8a8a;
	float: left;
	width: 200px;
	height: 170px;
	padding left: 10px; 
	padding right: 10px; 
	padding-top: 20px;
	padding-bottom: 20px;
}

h2 .project-title {
	font-family: 600;
    font-size: 12px;
    line-height: .9em;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0px;
    text-align: left;
    /*font-weight: 400;*/
    font-style: normal;
    color: #8f8a8a;
}

footer {
	border: 1px solid black;
	padding-top: 40px;
	margin-top: 36px;
	display: block;
}

footer div span {
	float: center;
	padding: 20px;
	width: 100%;
	border: 1px solid black;
}

div .page-divider {
	border: 0.5px solid;
	color: #8f8a8a;
	max-width: 100px;
}
